<a href="https://colab.research.google.com/github/karthiksuk/MLExamples/blob/main/ML1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Identifying missing values in tabular data

In [ ]:
import pandas as pd
from io import StringIO

In [ ]:
csv_data = \
'''A,B,C,D
1.0, 2.0, 3.0, 4.0
5.0, 6.0,, 8.0
10.0, 11.0, 12.0,'''

csv_data

'A,B,C,D\n1.0, 2.0, 3.0, 4.0\n5.0, 6.0,, 8.0\n10.0, 11.0, 12.0,'

In [ ]:
df = pd.read_csv(StringIO(csv_data))
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

Check the number of missing values in a DataFrame

In [ ]:
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

We can also convert the DataFrame into a NumPy array using the .values method on the df variable.

In [ ]:
df.values

array([[ 1.,  2.,  3.,  4.],
       [ 5.,  6., nan,  8.],
       [10., 11., 12., nan]])

###Eliminate rows/colums with missing values

In [7]:
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

drop any rows (axis=0) via the dropna() function.

In [8]:
df.dropna(axis=0)

     A    B    C    D
0  1.0  2.0  3.0  4.0

drop any column (axis=1) via the dropna() function.

In [9]:
df.dropna(axis=1)

      A     B
0   1.0   2.0
1   5.0   6.0
2  10.0  11.0